@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --myDarkBlue: #154163;
  --myLightBlue: #56A2E8;
  --myDarkRed: #5B2C2C;
  --myLightRed: #FF8383;
  --myDarkGreen: #043B0C;
  --myLightGreen: #3A994C;
}

/* Excalidraw "Virgil" font */
@font-face {
  font-family: 'Virgil';
  src: url('./assets/fonts/Virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Virgil', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}